JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-jahia/osgi-samples:latest}
MODULE_ID=${MODULE_ID:-app-shell}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://localhost:8080}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
